@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply hover:underline;
}

h2 {
    @apply font-sailing-club;
}

.highlight-span {
    text-decoration: inherit;
    position: relative;
    display: inline-block;
}
.highlight-container {
    text-decoration: inherit;
    position: absolute;
    display: flex;
    height: 100%;
    max-height: 100%;
    width: calc(100% + 0.25em);
    top: 0.125em;
    left: -0.05em;
    padding-block: 0.25em;
    animation: highlight 0.25s ease both;
    transform-origin: left;
    pointer-events: none;
}
.highlight-left,
.highlight-right {
    width: 1em;
    height: 100%;
    @apply bg-yellow/30;
}
.highlight-left {
    border-radius: 50% 0 0 50%;
}
.highlight-right {
    border-radius: 0 50% 50% 0;
}
.highlight-middle {
    height: 100%;
    flex: 1;
    @apply bg-yellow/30;
}

@keyframes highlight {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
